Maze2SL5/Service References/ServiceReferenceDB/ServiceDB2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Maze2SL5.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Maze2SL5.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfclsRace">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsRace" nillable="true" type="tns:clsRace" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsRace" nillable="true" type="tns:ArrayOfclsRace" />
  <xs:complexType name="clsRace">
    <xs:sequence>
      <xs:element minOccurs="0" name="Maze_Computer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Maze_HashGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Maze_MaxLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Maze_Mouse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Maze_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Maze_OS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Maze_Time" type="xs:int" />
      <xs:element minOccurs="0" name="Race_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsRace" nillable="true" type="tns:clsRace" />
</xs:schema>